.ee4v-ui-item-card {
    flex-direction: column;
}

.ee4v-ui-item-card__image-frame {
    position: relative;
}

.ee4v-ui-item-card__icon {
    position: absolute;
}

.ee4v-ui-item-card__icon .ee4v-ui-icon__image {
    opacity: 0.84;
}

.ee4v-ui-item-card__name {
    margin-top: 7px;
    height: var(--ee4v-size-18);
    min-height: var(--ee4v-size-18);
    max-height: var(--ee4v-size-18);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee4v-ui-item-card__name .unity-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
