node_modules

new/LICENSE.md.meta
new/package.json.meta
new/External~/Eagle/build/
new/External~/Eagle/dist/
new/docs~/.vitepress/cache/
new/docs~/.vitepress/dist/
new/docs~/vitepress-dev.*.log
new/Temp~/
