@import url("../../../UI/Foundation/ui-design-tokens.uss");

.ee4v-asset-manager-protected-inspector {
    flex-grow: 1;
    background-color: var(--ee4v-color-panel);
}

.ee4v-asset-manager-protected-inspector__content {
    flex-grow: 1;
    padding: var(--ee4v-space-2xl);
}

.ee4v-asset-manager-protected-inspector__title {
    margin-bottom: var(--ee4v-space-md);
}

.ee4v-asset-manager-protected-inspector__message {
    margin-bottom: var(--ee4v-space-2xl);
}

.ee4v-asset-manager-protected-inspector__asset {
    margin-bottom: var(--ee4v-space-xs);
}

.ee4v-asset-manager-protected-inspector__path {
    margin-bottom: var(--ee4v-space-2xl);
}

.ee4v-asset-manager-protected-inspector__actions {
    flex-shrink: 0;
}

.ee4v-asset-manager-protected-inspector__actions > .ee4v-ui-button {
    margin-bottom: var(--ee4v-space-md);
}
