.ee4v-ui-selectable-item-grid .ee4v-ui-item-grid__row-slot {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ee4v-ui-selectable-item-grid__row-slot--selected .ee4v-ui-item-image {
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-color: rgb(38, 150, 255);
    border-right-color: rgb(38, 150, 255);
    border-bottom-color: rgb(38, 150, 255);
    border-left-color: rgb(38, 150, 255);
    background-color: rgba(38, 150, 255, 0.16);
}

.ee4v-ui-selectable-item-grid__row-slot--selected .ee4v-ui-item-card__name {
    color: rgb(235, 248, 255);
    background-color: rgb(38, 150, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
