.ee4v-ui-selectable-item-grid .ee4v-ui-item-grid__row-slot {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: var(--ee4v-color-transparent);
    border-right-color: var(--ee4v-color-transparent);
    border-bottom-color: var(--ee4v-color-transparent);
    border-left-color: var(--ee4v-color-transparent);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ee4v-ui-selectable-item-grid__row-slot--selected .ee4v-ui-item-image {
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-color: var(--ee4v-color-focus);
    border-right-color: var(--ee4v-color-focus);
    border-bottom-color: var(--ee4v-color-focus);
    border-left-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-selection-soft);
}

.ee4v-ui-selectable-item-grid__row-slot--selected .ee4v-ui-item-card__name {
    color: var(--ee4v-color-text-on-state);
    background-color: var(--ee4v-color-selection);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
