.ee4v-ui-item-grid {
    flex-grow: 1;
    min-height: 0;
}

.ee4v-ui-item-grid__list {
    flex-grow: 1;
    min-height: 0;
    background-color: var(--ee4v-color-transparent);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.ee4v-ui-item-grid__list .unity-collection-view__scroll-view,
.ee4v-ui-item-grid__list .unity-scroll-view {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-item-grid__list .unity-scroll-view__content-container,
.ee4v-ui-item-grid__list .unity-collection-view__content-container {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-item-grid__list .unity-collection-view__item,
.ee4v-ui-item-grid__list .unity-list-view__item {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-item-grid__list .unity-collection-view__item:hover,
.ee4v-ui-item-grid__list .unity-list-view__item:hover {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-item-grid__row {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 4px;
}

.ee4v-ui-item-grid__list .unity-scroller {
    display: none;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}

.ee4v-ui-item-grid__list .unity-scroll-view__vertical-scroller,
.ee4v-ui-item-grid__list .unity-scroll-view__horizontal-scroller {
    display: none;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}

.ee4v-ui-item-grid__list .unity-base-vertical-collection-view__scroll-view .unity-scroller {
    display: none;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}
