.ee4v-asset-manager-panel {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.ee4v-asset-manager-panel--navigation {
    flex-direction: column;
}

.ee4v-asset-manager-panel__navigation-picker {
    flex-shrink: 0;
    padding-left: var(--ee4v-space-xl);
    padding-right: var(--ee4v-space-xl);
    padding-top: var(--ee4v-space-xl);
    padding-bottom: var(--ee4v-space-lg);
    border-bottom-width: var(--ee4v-border-hairline);
    border-bottom-color: var(--ee4v-color-border-subtle);
}
