.ee4v-asset-manager-window {
    flex-grow: 1;
}

.ee4v-asset-manager-window__main-view-window-body {
    flex-grow: 1;
    min-height: 0;
    flex-direction: column;
    padding-left: var(--ee4v-space-lg);
    padding-right: var(--ee4v-space-lg);
    padding-top: var(--ee4v-space-lg);
    padding-bottom: var(--ee4v-space-lg);
}

.ee4v-asset-manager-window__main-view-window-content {
    flex-grow: 1;
    min-height: 0;
    margin-top: var(--ee4v-space-lg);
}
