.ee4v-ui-banner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left-width: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--ee4v-color-surface-subtle);
}

.ee4v-ui-banner__title {
    margin-bottom: 2px;
}

.ee4v-ui-banner__message {
    color: var(--ee4v-color-text-secondary);
    white-space: normal;
}

.ee4v-ui-banner--info {
    border-left-color: var(--ee4v-color-info);
}

.ee4v-ui-banner--warning {
    border-left-color: var(--ee4v-color-warning);
}

.ee4v-ui-banner--error {
    border-left-color: var(--ee4v-color-error);
}
