.ee4v-ui-context-menu {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: var(--ee4v-color-overlay-border);
    border-right-color: var(--ee4v-color-overlay-border);
    border-bottom-color: var(--ee4v-color-overlay-border);
    border-left-color: var(--ee4v-color-overlay-border);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--ee4v-color-surface-raised);
    flex-grow: 1;
}

.ee4v-ui-context-menu__item {
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--ee4v-color-transparent);
    flex-direction: row;
    align-items: center;
}

.ee4v-ui-context-menu__item:hover {
    background-color: var(--ee4v-color-selection);
}

.ee4v-ui-context-menu__item:active {
    background-color: var(--ee4v-color-selection-pressed);
}

.ee4v-ui-context-menu__item--disabled,
.ee4v-ui-context-menu__item--disabled:hover,
.ee4v-ui-context-menu__item--disabled:active {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-context-menu__label {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
}

.ee4v-ui-context-menu__label Label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee4v-ui-context-menu__shortcut {
    flex-shrink: 0;
    margin-left: 16px;
}

.ee4v-ui-context-menu__separator {
    height: 1px;
    min-height: 1px;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 4px;
    margin-bottom: 3px;
    background-color: var(--ee4v-color-border-default);
}
