.ee4v-ui-item-image {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: var(--ee4v-color-border-strong);
    border-right-color: var(--ee4v-color-border-strong);
    border-bottom-color: var(--ee4v-color-border-strong);
    border-left-color: var(--ee4v-color-border-strong);
    background-color: var(--ee4v-color-tab-idle);
}

.ee4v-ui-item-image__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ee4v-ui-item-image__placeholder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--ee4v-color-surface-soft);
}
