.ee4v-ui-item-card {
    flex-direction: column;
}

.ee4v-ui-item-card__image-frame {
    position: relative;
}

.ee4v-ui-item-card__image-stack {
    position: absolute;
}

.ee4v-ui-item-card__icon {
    position: absolute;
}

.ee4v-ui-item-card__icon .ee4v-ui-icon__image {
    opacity: 1;
}

.ee4v-ui-item-card__name-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: var(--ee4v-size-20);
    min-height: var(--ee4v-size-20);
    max-height: var(--ee4v-size-20);
    overflow: hidden;
}

.ee4v-ui-item-card__name-icon {
    margin-right: var(--ee4v-space-xs);
}

.ee4v-ui-item-card__name {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee4v-ui-item-card__name .unity-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
