.ee4v-asset-manager-panel {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.ee4v-asset-manager-panel__main-content {
    flex-grow: 1;
    min-height: 0;
}

.ee4v-asset-manager-panel__main-status {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: var(--ee4v-color-text-soft);
}

.ee4v-asset-manager-file-detail {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.ee4v-asset-manager-file-detail__name {
    color: var(--ee4v-color-text-primary);
    font-size: 20px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}
