.ee4v-ui-button {
    min-width: 0;
    min-height: var(--ee4v-control-height-default);
    margin: var(--ee4v-space-none);
    padding: var(--ee4v-space-xs) var(--ee4v-space-md);
    border-width: var(--ee4v-border-hairline);
    border-color: var(--ee4v-color-border-active);
    border-radius: var(--ee4v-radius-lg);
    background-color: var(--ee4v-color-surface-soft);
    align-items: center;
    justify-content: center;
}

.ee4v-ui-button:hover {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-surface-hover-strong);
}

.ee4v-ui Button.ee4v-ui-button:focus {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-surface-soft);
}

.ee4v-ui-button:active {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-surface-pressed);
}

.ee4v-ui-button--ghost {
    border-color: var(--ee4v-color-transparent);
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-button--ghost:hover {
    border-color: var(--ee4v-color-transparent);
    background-color: var(--ee4v-color-surface-hover);
}

.ee4v-ui Button.ee4v-ui-button--ghost:focus {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-button--ghost:active {
    background-color: var(--ee4v-color-surface-pressed);
}

.ee4v-ui-button--icon-only {
    width: var(--ee4v-size-20);
    min-width: var(--ee4v-size-20);
    height: var(--ee4v-size-20);
    min-height: var(--ee4v-size-20);
    padding: var(--ee4v-space-none);
}

.ee4v-ui-button:disabled {
    opacity: 0.5;
}

.ee4v-ui-button.ee4v-ui-button--primary-action {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-focus);
}

.ee4v-ui-button.ee4v-ui-button--primary-action:enabled:focus,
.ee4v-ui-button.ee4v-ui-button--primary-action:enabled:hover {
    border-color: var(--ee4v-color-focus);
    background-color: var(--ee4v-color-selection);
}

.ee4v-ui-button.ee4v-ui-button--primary-action:enabled:active {
    background-color: var(--ee4v-color-selection-pressed);
}

.ee4v-ui-button__content {
    min-width: 0;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ee4v-ui-button__content--with-icon > .ee4v-ui-button__icon {
    margin-right: var(--ee4v-space-sm);
}

.ee4v-ui-button__label {
    min-width: 0;
}
