.ee4v-ui-item-card {
    flex-direction: column;
}

.ee4v-ui-item-card__name {
    margin-top: 7px;
    height: 18px;
    min-height: 18px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ee4v-ui-item-card__name .unity-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
