.ee4v-ui-url-input-field__open-button {
    width: var(--ee4v-size-18);
    min-width: var(--ee4v-size-18);
    max-width: var(--ee4v-size-18);
    height: var(--ee4v-size-18);
    min-height: var(--ee4v-size-18);
    max-height: var(--ee4v-size-18);
    align-self: center;
    flex-shrink: 0;
    margin-left: var(--ee4v-space-xxs);
    margin-right: var(--ee4v-space-negative-xxs);
    margin-top: var(--ee4v-space-none);
    margin-bottom: var(--ee4v-space-none);
    padding-left: var(--ee4v-space-none);
    padding-right: var(--ee4v-space-none);
    padding-top: var(--ee4v-space-none);
    padding-bottom: var(--ee4v-space-none);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: var(--ee4v-radius-sm);
    border-top-right-radius: var(--ee4v-radius-sm);
    border-bottom-left-radius: var(--ee4v-radius-sm);
    border-bottom-right-radius: var(--ee4v-radius-sm);
    background-color: var(--ee4v-color-transparent);
    color: var(--ee4v-color-text-muted);
    font-size: var(--ee4v-font-size-small);
    -unity-text-align: middle-center;
    justify-content: center;
    align-items: center;
    opacity: 0.86;
}

.ee4v-ui-url-input-field__open-button:hover {
    background-color: var(--ee4v-color-surface-hover-strong);
    color: var(--ee4v-color-text-on-state);
    opacity: 1;
}
