.ee4v-asset-manager-panel {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}

.ee4v-asset-manager-panel__main-content {
    flex-grow: 1;
    min-height: 0;
}

.ee4v-asset-manager-panel__main-status {
    margin-left: var(--ee4v-space-xl);
    margin-right: var(--ee4v-space-xl);
    margin-top: var(--ee4v-space-xl);
    margin-bottom: var(--ee4v-space-md);
    color: var(--ee4v-color-text-soft);
}

.ee4v-asset-manager-file-detail {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: var(--ee4v-space-3xl);
}

.ee4v-asset-manager-file-detail__name {
    color: var(--ee4v-color-text-primary);
    font-size: var(--ee4v-font-size-display);
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}
