.ee4v-ui-image-stack {
    position: relative;
    background-color: var(--ee4v-color-transparent);
    overflow: visible;
}

.ee4v-ui-image-stack__image {
    position: absolute;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: var(--ee4v-radius-sm);
    border-top-right-radius: var(--ee4v-radius-sm);
    border-bottom-left-radius: var(--ee4v-radius-sm);
    border-bottom-right-radius: var(--ee4v-radius-sm);
    background-color: var(--ee4v-color-tab-idle);
}

.ee4v-ui-image-stack__image.ee4v-ui-item-image--frameless {
    background-color: var(--ee4v-color-transparent);
}

.ee4v-ui-image-stack__icon {
    position: absolute;
}
