@import url("../Foundation/ui-design-tokens.uss");

.ee4v-ui {
    flex-grow: 1;
}

.ee4v-ui Label {
    color: var(--ee4v-color-text-primary);
}

.ee4v-ui Button {
    color: var(--ee4v-color-text-primary);
    transition-property: background-color, border-top-color, border-right-color, border-bottom-color, border-left-color, color, opacity;
    transition-duration: 0.12s;
    transition-timing-function: ease-out;
}

.ee4v-ui-status {
    padding-left: var(--ee4v-space-lg);
    padding-right: var(--ee4v-space-lg);
    padding-top: var(--ee4v-space-xs);
    padding-bottom: var(--ee4v-space-xs);
    min-height: var(--ee4v-size-20);
    border-top-left-radius: var(--ee4v-radius-3xl);
    border-top-right-radius: var(--ee4v-radius-3xl);
    border-bottom-left-radius: var(--ee4v-radius-3xl);
    border-bottom-right-radius: var(--ee4v-radius-3xl);
    font-size: var(--ee4v-font-size-small);
    background-color: var(--ee4v-color-status-idle);
    white-space: nowrap;
    -unity-text-align: middle-center;
    align-self: flex-start;
}
