@import url("../Foundation/ui-color-tokens.uss");

.ee4v-ui {
    flex-grow: 1;
}

.ee4v-ui Label {
    color: var(--ee4v-color-text-primary);
}

.ee4v-ui Button {
    color: var(--ee4v-color-text-primary);
}

.ee4v-ui-status {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 11px;
    background-color: var(--ee4v-color-status-idle);
    white-space: nowrap;
    -unity-text-align: middle-center;
    align-self: flex-start;
}
