.ee4v-ui-image-tooltip {
    flex-grow: 1;
    align-items: center;
    padding-left: var(--ee4v-space-md);
    padding-right: var(--ee4v-space-md);
    padding-top: var(--ee4v-space-md);
    padding-bottom: var(--ee4v-space-md);
    border-top-width: var(--ee4v-border-hairline);
    border-right-width: var(--ee4v-border-hairline);
    border-bottom-width: var(--ee4v-border-hairline);
    border-left-width: var(--ee4v-border-hairline);
    border-top-color: var(--ee4v-color-overlay-border);
    border-right-color: var(--ee4v-color-overlay-border);
    border-bottom-color: var(--ee4v-color-overlay-border);
    border-left-color: var(--ee4v-color-overlay-border);
    border-top-left-radius: var(--ee4v-radius-xl);
    border-top-right-radius: var(--ee4v-radius-xl);
    border-bottom-left-radius: var(--ee4v-radius-xl);
    border-bottom-right-radius: var(--ee4v-radius-xl);
    background-color: var(--ee4v-color-surface-raised);
}

.ee4v-ui-image-tooltip__image {
    flex-shrink: 0;
}

.ee4v-ui-image-tooltip__file-name {
    width: 100%;
    height: var(--ee4v-size-22);
    margin-top: var(--ee4v-space-sm);
    overflow: hidden;
    text-overflow: ellipsis;
    -unity-text-overflow-position: end;
    -unity-text-align: middle-center;
}

.ee4v-ui-image-tooltip__file-name Label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -unity-text-overflow-position: end;
    -unity-text-align: middle-center;
}
